{% include 'inc/nav.html' %}


{% load static %}

{% block body %}
  <!-- product section -->
  <section class="product_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>{{ category.name }}</h2>
      </div>
      <div class="row">
        {% for product in products %}
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
              <div class="option_container">
                <div class="options">
                  <h6>Price : 
                    {{product.selling_price}}/-
                 </h6>
                  <a href="{% url 'store:product_details' category.slug product.slug %}" class="option2">View</a>
                  
                </div>
              </div>
              <div class="img-box">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" />
              </div>
              <div class="detail-box">
                <h5>{{ product.name }}</h5>
                
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="pagination justify-content-center" style="padding: 2%;">
        <span class="step-links">
          {% if products.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">Page {{ products.number }} of {{ products.paginator.num_pages }}</span>
          

          {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next>></a>
            {% if products.paginator.num_pages > 1 %}
              {% if products.number > 1 %}
                <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            {% endif %}
          {% endif %}
        </span>
      </div>
    </div>
  </section>
  <!-- end product section -->
{% endblock %}
